[Unit]
Description=Timer for loging every minute

[Timer]
OnCalendar=*-*-* *:*:00
Unit=monitoring.service
Persistent=true

[Install]
WantedBy=timers.target